body {
    background-color: silver;
    color: white;
    
}

header {
    background-color: #2C2C32;
    color: white;
    text-shadow: 0 0 2px black;
    font-size: 250%;
    text-align: center;
    padding: 5px;
}

.nav{
    background-color: #2C2C32;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: block;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 30px;
}

a:link{
    color: white;
}
a:visited{
    color: white;
}
a:hover{
    color:royalblue !important;
}

.contain{
    background-color: #4F4F5F;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

footer {
    background-color: #2C2C32;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-size: 80%;
    letter-spacing: 3px;
    padding: 10px;
}

p {
    text-align: justify;
    padding: 30px;
}

li {
    position: relative;
    width: 100%;
    border-bottom: 1px dotted gray;
}

span {
    position: absolute;
    right: 0px
}

.icon
{
    width: 5%;
    height: 5%;
}
.telo{
    font-size: 150%;
    text-align: center;
    margin-top: 10px;
}

.programoldal {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 50px;
    grid-auto-flow: row;
    grid-template-areas:
      "balfent kozepe jobbfent"
      "ballent kozepe jobblent";
  }
  
  .kozepe {
       grid-area: kozepe; 
       align-items: center;
       margin-top: 180%;

}
  
  .balfent { grid-area: balfent; }
  
  .ballent { grid-area: ballent; }
  
  .jobbfent { grid-area: jobbfent; }
  
  .jobblent { grid-area: jobblent; }

.ember{
    width:200px;
    height: 200px;
    border-radius: 10%;
}


.csapat{
    width: 300px;
    height: 200px;
    margin-bottom: 60px;
    border-radius: 10%;
}

/*@media screen and(width: 600px){
    .ember{
        background-color: royalblue;
        width: 20%;
        height: 10%;
    }
    
}*/
