body {
    background-color: silver;
}

.container {
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 10px gray;
}

header {
    background-color: #2C2C32;
    color: black;
    text-shadow: 0 0 2px black;
    font-size: 250%;
    text-align: center;
    padding: 5px;
}

nav{
    background-color: #2C2C32;
}


.contain{
    background-color: #4F4F5F;
}

footer {
    background-color: #2C2C32;
    color: white;
    text-align: center;
    font-size: 80%;
    letter-spacing: 3px;
    padding: 10px;
}

section {
    padding: 10px;
}

p {
    text-align: justify;
}

li {
    position: relative;
    width: 100%;
    border-bottom: 1px dotted gray;
}

span {
    position: absolute;
    right: 0px
}

.icon
{
    width: 90px;
    height: 90px;;
}

.programoldal {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 50px;
    grid-auto-flow: row;
    grid-template-areas:
      "balfent kozepe jobbfent"
      "ballent kozepe jobblent";
  }
  
  .kozepe {
       grid-area: kozepe; 
       align-items: center;
       margin-top: 180%;

}
  
  .balfent { grid-area: balfent; }
  
  .ballent { grid-area: ballent; }
  
  .jobbfent { grid-area: jobbfent; }
  
  .jobblent { grid-area: jobblent; }

.ember{
    width:200px;
    height: 200px;
    border-radius: 10%;
}


.csapat{
    width: 300px;
    height: 200px;
    margin-bottom: 60px;
    border-radius: 10%;
}

/*@media screen and(width: 600px){
    .ember{
        background-color: royalblue;
        width: 20%;
        height: 10%;
    }
    
}*/
