<div class="nav">
    <div>
        <a href="#!{{progi}}">Program Bemutatás</a>
    </div>
</div>
<main>
    <h3 class="text-center ocim">{{oldalcim}}</h3>
    <div class="row" style="width: 100%;">
        <div class="col-lg-6 col-sm-12">
            <img class="csapat" src="../weboldalak/img/helyorzo.jpg" alt="">
        </div>
        <div class="col-lg-6 col-sm-12">
            <h5 class="cim">{{cim}}</h5>
            <p>
                {{szoveg}}
            </p>
        </div>
    </div>
    <div class="row" style="width: 100%;">
        <div class="col-lg-4 col-sm-12 text-center">
            <img class="ember" src="../weboldalak/img/helyorzo.jpg" alt="">
            <p>
                <h5>Gellért</h5>
                {{gellert}}
            </p>
        </div>
        <div class="col-lg-4 col-sm-12 text-center">
            <img class="ember" src="../weboldalak/img/helyorzo.jpg" alt="">
            <p>
                <h5>Ádám</h5>
                {{adam}}
            </p>
        </div>
        <div class="col-lg-4 col-sm-12 text-center">
            <img class="ember" src="../weboldalak/img/helyorzo.jpg" alt="">
            <p>
                <h5>Viktor</h5>
                {{viktor}}
            </p>
        </div>
    </div>
</main>