<main>
    <h3>{{oldalcim}}</h3>
    <div class="row">
        <div class="col-6">
            <img class="csapat" src="../weboldalak/img/helyorzo.jpg" alt="">
        </div>
        <div class="col-6">
            <h5>{{cim}}</h5>
            <p>
                {{szoveg}}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-sm-12 text-center">
            <img class="ember" src="../weboldalak/img/helyorzo.jpg" alt="">
            <p>
                {{gellert}}
            </p>
        </div>
        <div class="col-lg-4 col-sm-12 text-center">
            <img class="ember" src="../weboldalak/img/helyorzo.jpg" alt="">
            <p>
                {{adam}}
            </p>
        </div>
        <div class="col-lg-4 col-sm-12 text-center">
            <img class="ember" src="../weboldalak/img/helyorzo.jpg" alt="">
            <p>
                {{viktor}}
            </p>
        </div>
    </div>
</main>