<main>
    <h3>{{oldalcim}}</h3>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <img class="helyorzo" src="" alt="">
            </div>
            <div class="col-6">
                <h5>{{cim}}</h5>
                <p>
                    {{szoveg}}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-12 text-center">
                <img class="ember" src="" alt="">
                <p>
                    {{gellert}}
                </p>
            </div>
            <div class="col-lg-4 col-sm-12 text-center">
                <img class="ember" src="" alt="">
                <p>
                    {{adam}}
                </p>
            </div>
            <div class="col-lg-4 col-sm-12 text-center">
                <img class="ember" src="" alt="">
                <p>
                    {{viktor}}
                </p>
            </div>
        </div>
    </div>
</main>