
<hr>
<main>
    <div class="programoldal">
       
        <div class="balfent">
            <img style="width:500px; height:300px;" src={{alapkep1}} alt="kep1">
        </div>
        <div class="ballent">
            <h3>Funkciók</h3>
            <p>
                {{bemutat1}}
            </p>
        </div>
        <div style="text-align: centre;" class="kozepe">
            <button style="text-align: centre;">LETOLTEEES</button>
        </div>
        <div class="jobbfent">
            <p>
                <h3>Jellemzők: </h3>
                {{bemutat2}}
            </p>
        </div>
        <div class="jobblent">
            <img style="width:500px; height:300px;" src={{alapkep2}} alt="kep2">
        </div>
      </div>
</main>
