<div class="nav">
    <div>
        <a href="#!/h">Főoldalra</a>
    </div>
</div>
<main>
    <div class="programoldal container-fluid ">
       

        <div class="row">
            <div class="balfent col-lg-6 col-sm-12">
                <img class="kep1" src={{alapkep1}} alt="kep1">
                
            </div>
            <div class="jobbfent col-lg-6 col-sm-12">
                <p>
                    <h3>Jellemzők: </h3>
                    {{bemutat2}}
                </p>
            </div>
        </div>

        <div class="kozepe2 col align-self-center" >
            <form method="get" action="../../MasterPlanProgram/MasterPlanProgram/bin/Debug/MasterPlanProgram.exe">
                <button style="text-align: center;" type="submit" href="" ng-modal class="kozepe">Letöltés</button>
            </form>
        </div>
        
      <div class="row">
        <div class="ballent col-lg-6 col-sm-12">
            <h3>Funkciók</h3>
            <p>
                {{bemutat1}}
            </p>
        </div>

        <div class="jobblent col-lg-6 col-sm-12">
            <img class="kep2" src={{alapkep2}} alt="kep2">
              
        </div>
      </div>
        
       
        
      </div>
</main>
